.App {
  text-align: center;
}
.heading{
  font-size: 150%;
  margin-left: 150px;
  font-style: italic;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.food-poster{
  width: 340px;
  height: 300px;
  object-fit: cover;
}
.food-container{
 /*background: orange;*/
  width: 340px;
  height:min-content;
  cursor: pointer;
  
}

.food-name{
  font-size: 24px;
  margin: 0;
}
.food-rating{
  font-size: 18px;
}
.food-summary{
  margin-top: 10;
}
.food-specs{
  
  align-items: center;
  justify-content: space-between;
}
.food-list{
  display:flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.counter-container{
  display:flex;
  gap: 10px;
 
}
.like-dislike{
  font-size: 20px;
}
.liked-list{
  font-size: 20px;
}
.add-movie-form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:16px;
}


.board{
 display: flex;
 flex-wrap: wrap;
 width: 492px;  
}

.not-found{
  text-align:center;
  font-size:54px;
  margin:0;
}
.food-detail-container{
  max-width: 900px;
  padding: 24px;
}
.route-container{
  margin:20px;
}